@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

:root {
  --background-color: #ebf0f7;
  --buttons-color: #2d2c96;
  --text-color: #1a1938;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

a,
ul {
  list-style: none;
  text-decoration: none;
}

/*Navbar*/

.nav-bar {
  width: auto;
  background-color: var(--background-color);
  display: flex;
  gap: 50px;
}
.material-symbols-outlined {
  margin: 15px 0 0 0;
}

.logo {
  display: flex;
  gap: 5px;
}

.links ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 100px;
}

.log-section {
  padding: 20px;
  display: flex;
  gap: 30px;
}

#start {
  height: 60%;
  margin: 10px;
  text-align: center;
  background-color: var(--buttons-color);
  border-radius: 4px;
  border-color: var(--buttons-color);
  text-transform: uppercase;
  width: 10rem;
  font-weight: 700;
}

#start a {
  padding: 10px;
  color: #ebf0f7;
}

.links {
  padding: 20px;
}

/*Layout*/

.layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 3fr;
  width: auto;
  height: 600px;
  background-color: var(--background-color);
}

.left-part {
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding: 20px;
  margin: 20px;
}

/*text part*/

.text-box {
  color: var(--text-color);
}
.text-box > h1 {
  display: inline-flex;
  inline-size: 350px;
  overflow-wrap: break-word;
  font-size: 2.8rem;
  font-weight: bolder;
}

.text-box > p {
  font-size: 18px;
  font-weight: bold;
}

/* buttons */

.layout-buttons {
  display: flex;
  gap: 2rem;
}

.layout-buttons > button {
  padding: 12px;
}

.layout-buttons > #button1 {
  background-color: var(--buttons-color);
  border-radius: 4px;
  border-color: var(--buttons-color);
  color: var(--background-color);
  width: 9rem;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 700;
}

.layout-buttons > #button2 {
  background-color: var(--background-color);
  border-radius: 4px;
  border-color: var(--buttons-color);
  color: var(--buttons-color);
  width: 9rem;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 800;
}

/*right part and video */


.right-part{
    width: 840px;
    height: 600px;
    
    overflow: hidden;
    position: relative;
}

#first-page-video {
    width: 840px;
    height: 600px;
    pointer-events: none;
    display: block;
  =
    overflow: hidden;
    position: relative;
  
}